.card {
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    background: linear-gradient(to bottom, #cb60b3 0%,#a80077 100%);
    padding-left: 20px;
}

.card * {
    padding: 5px 0;
}

li {
    list-style: none;
}