.card {
    width: 350px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    background: linear-gradient(to bottom, #cb60b3 0%,#a80077 100%);
    padding: 20px;
}

.card * {
    padding: 5px 0;
}

li {
    list-style: none;
}

button {
    border: 1px solid white;
    color: white;
    box-shadow: none;
    background: transparent;
    width: 100px;
}